<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Dharma</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .btn-get-menu {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Menu Dharma</h1>
    <button class="btn btn-primary btn-get-menu"> <a href="get-menu"> Get Menu for Current Week</button>
</div>
</body>
</html>